/* Styles for layout */

#banner { 
	margin-top: 60px;
	margin-bottom: 10px;
	margin-left: 80px;
	text-align: left;
	color: #120873; 
}

#banner .first {
	width: 160px;
	padding-right: 20px;
}

#banner .second {
	width: 500px;
}

#banner .second .title {
	font: bold 25px/25px "Gill Sans", sans-serif;
}

#banner .second .subtitle {
	font: 18px/18px "Gill Sans", sans-serif;
}

#banner .second .admin {
	text-align: right;
	font: 13px/13px "Gill Sans", sans-serif;
}

#banner a {
	color: #120873; 
}

/* Sytles for blog reader */

#blog {
	margin-top: 20px;
	margin-left: 80px;
	font-family: "Gill Sans", sans-serif;
	color: #2e479b;
}

#blog .post .date {
	width: 160px;
	padding-right: 20px;
	text-align: right;
	vertical-align: top;
	font-size: 10px;
	color: #6e7fa4;
}

#blog .post .rest {
	width: 500px;
	font-size: 15px;
}

#blog .post .rest .title {
	font-weight: bold;
	margin-bottom: 15px;
}

#blog .post .rest .content {
	margin-bottom: 13px;
}

#blog .post .rest .name {
	font-size: 10px;
}

#blog .post .rest .comments {
	font-size: 10px;
	margin-bottom: 20px;
}

/* Styles for admin main */

#posts {
	margin-top: 40px;
	margin-right: 25%;
	margin-left: 260px;
	text-align: left;
	color: #2e479b;
}

#posts .name {
	width: 80px;
}

#posts .title {
	width: 120px;
}

#posts .links {
	font-size: 10px;
}


/* Links */

a {
  color: #2e479b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
	background-color: white;
}

a:visited {
  color: #2e479b;
}



















