<% @posts.each do |post| %>
	<div id="post">
		<div class="p_title"><%= link_to post.title, post %></div>
		<div class="p_content"><%= post.content %></div>
		<div class="p_name"><%=  "Posted by #{post.name}" %></div>
		<div class="p_comments">
			<%= "Comments: #{post.comments.size.to_s}" %></div>
		</div>
<% end %>
